[Desktop Entry]
Type=Application
Name=Authenticator
Comment=Two factor authenticaton helper
Exec=./ubuntu-authenticator %u
Terminal=false
Icon=ubuntu-authenticator.svg
X-Ubuntu-Touch=true
